* {
    margin: 0;
    padding: 0;
}
#main {
    background: rgb(231, 229, 229);
    min-height: 100vh;
}
#watchList {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}
.card {
    /*width: 15%;*/
    height: 120px;
    background: green;
    border-radius: 20px;
    margin: 3px;
    padding: 10px;
    font-size: 1.0rem;
    
}