* {
    margin: 0;
    padding: 0;
}
#main {
    background: rgb(231, 229, 229);
    min-height: 100vh;
}
.card {
    width: 12.5%;
    height: 120px;
    background: green;
    border-radius: 20px;
    margin: 3px;
    padding: 10px;
    font-size: 1.0rem;
    
}